# Object files
*.o
SNNS_twopop
.vscode/
test/
__pycache__/
*.swp
*.ipynb_checkpoints
*.out
callgrind*
*.ktrace

# data
*.dat
*data*
*case*
*dYSM*
*.png

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# old files
x*
